<!DOCTYPE html>
<html lang="en">
<head>
  <title>QMK Compiling API</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Istok+Web:400,700,700italic,400italic" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" media="screen" href="{{url_for('static', filename='css/style.css')}}">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="{{url_for('static', filename='js/html5shiv.js')}}"></script>
  <![endif]-->
</head>

<body>
<div class="header">
  <h1 id="title">QMK Keymap Compiler</h1>
</div>

<div class="container">
  <div class="col-md-offset-2 col-md-8 content">
		<p>You have found an instance of the QMK Keymap Compiler. This service provides an API that application developers can use to compile custom firmware for keyboards supported by <a href="https://github.com/qmk/qmk_firmware">QMK</a>. If you are a developer read on for more information.</p>

    <h2>Overview</h2>

    <p>This service is an asynchronous API for compiling custom keymaps. You POST some JSON to the API, periodically check the status, and when your firmware has finished compiling you can download the resulting firmware.</p>

    <p><b>Example JSON Payload:</b></p>

    <pre>{
  "keyboard": "clueboard",
  "subproject": "rev2",
  "keymap": "my_awesome_keymap",
  "layers": [
    ["KC_GRV","KC_1","KC_2","KC_3","KC_4","KC_5","KC_6","KC_7","KC_8","KC_9","KC_0","KC_DASH","KC_EQLS","KC_GRV","KC_BSPC","KC_PGUP","KC_TAB","KC_Q","KC_W","KC_E","KC_R","KC_T","KC_Y","KC_U","KC_I","KC_O","KC_P","KC_LBRC","KC_RBRC","KC_BSLS","KC_PGDN","KC_CAPS","KC_A","KC_S","KC_D","KC_F","KC_G","KC_H","KC_J","KC_K","KC_L","KC_SCLN","KC_QUOT","KC_NUHS","KC_ENT","KC_LSFT","KC_NUBS","KC_Z","KC_X","KC_C","KC_V","KC_B","KC_N","KC_M","KC_COMM","KC_DOT","KC_SLSH","KC_RO","KC_RSFT","KC_UP","KC_LCTL","KC_LGUI","KC_LALT","KC_MHEN","KC_SPC","KC_SPC","KC_HENK","KC_RALT","KC_RCTL","MO(1)","KC_LEFT","KC_DOWN","KC_RIGHT"],
    ["KC_ESC","KC_F1","KC_F2","KC_F3","KC_F4","KC_F5","KC_F6","KC_F7","KC_F8","KC_F9","KC_F10","KC_F11","KC_F12","KC_TRNS","KC_DEL","BL_STEP","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_PSCR","KC_SLCK","KC_PAUS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","MO(2)","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_PGUP","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","MO(1)","KC_LEFT","KC_PGDN","KC_RGHT"],
    ["KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","RESET","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","MO(2)","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","KC_TRNS","MO(1)","KC_TRNS","KC_TRNS","KC_TRNS"]
  ]
}</pre>

    <p>As you can see the payload consists of identifiers for keyboard, subproject (if applicable,) and keymap name, followed by a list of layers. Each layer is a single list of QMK keycodes the same length as the keyboard's <code>KEYMAP</code> macro.</p>

    <h2>Submitting a Compile Job</h2>

    <p>To compile your keymap into a firmware simply POST your JSON to the <code>/api/v1/compile</code> endpoint. In the following example we've placed the JSON payload into a file named <code>json_data</code>.</p>

		<pre>
$ curl -H "Content-Type: application/json" -X POST -d "$(< json_data)" https://qmk_keymap.clueboard.co/api/v1/compile
{
  "enqueued": true,
  "job_id": "ea1514b3-bdfc-4a7b-9b5c-08752684f7f6"
}</pre>

    <h2>Checking The Status</h2>

    <p>After submitting your keymap you can check the status using a simple HTTP GET call:</p>

    <pre>
$ curl http://qmk_keymap.clueboard.co/api/v1/compile/ea1514b3-bdfc-4a7b-9b5c-08752684f7f6
{
  "created_at": "Sat, 19 Aug 2017 21:39:12 GMT",
  "enqueued_at": "Sat, 19 Aug 2017 21:39:12 GMT",
  "id": "f5f9b992-73b4-479b-8236-df1deb37c163",
  "is_failed": false,
  "is_finished": false,
  "is_queued": false,
  "is_started": true,
  "result": null
}</pre>

    <p>This shows us that the job has made it through the queue and is currently running. Each of the 4 <code>is_*</code> statuses means your keymap is in a different stage:</p>

    <ul>
      <li><b>is_failed:</b> Something about the compiling service has broken.</li>
      <li><b>is_finished:</b> The compilation is complete and you should check <code>result</code> to see the results.</li>
      <li><b>is_queued:</b> The keymap is waiting for a compilation server to become available.</li>
      <li><b>is_started:</b> The compilation is in progress and should be complete soon.</li>
    </ul>

    <h2>Downloading The Results</h2>

    <p>When your job has completed and the compilation was successful you can download your new firmware. To download only the .hex file for flashing append "hex" to your URL:</p>

    <pre>$ curl -i http://0.0.0.0:5000/api/v1/compile/9dbf56d1-9d6f-4d1a-a7e3-af1d6ecbdd65/hex
HTTP/1.0 200 OK
Content-Disposition: attachment; filename=clueboard_rev2_my_awesome_keymap.hex
Content-Length: 63558
Content-Type: application/octet-stream
Last-Modified: Sat, 19 Aug 2017 22:46:54 GMT
Cache-Control: public, max-age=43200
Expires: Sun, 20 Aug 2017 10:47:19 GMT
ETag: "1503182814.0-63558-190654682"
Date: Sat, 19 Aug 2017 22:47:19 GMT

:100000000C94BD050C9404060C9404060C94040690
:100010000C9404060C9404060C9404060C94040638
:100020000C9404060C9404060C94F7280C94CA292A
:100030000C9472200C9404060C9404060C94040690
*truncated*</pre>

    <p>If you'd like to download the source code as well as the hex you can append "src" instead:</p>

    <pre>$ curl http://0.0.0.0:5000/api/v1/compile/9dbf56d1-9d6f-4d1a-a7e3-af1d6ecbdd65/src > qmk_firmware.zip
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 10.8M  100 10.8M    0     0  52.2M      0 --:--:-- --:--:-- --:--:-- 52.0M
$ file qmk_firmware.zip
qmk_firmware.zip: Zip archive data, at least v1.0 to extract</pre>
  </div>
</div>

<!-- Load javascript at the end. Because performance. -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
